.upload-box{
    margin:auto;
    width:50%;
    border: 2px dashed gray;
    height: 20rem;
    padding-top: 2rem;
}

.create-button{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .create-button-icon{
        margin-right: 1rem;
    }
}