.model-grid-container{
    padding-right:20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    position: relative;
}

.layout{
    width: 100%;
}